body{
    margin: 0;
    padding: 0;
    background-image: url(https://image.freepik.com/free-photo/white-parchment-paper_53876-92954.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
}

img {
    display: block;
    margin: 5rem auto;
    width: 70%;
    height: auto;
}
